<!-- views/partials/footer.ejs -->

<footer>
  <div class="container">
  <div class="header clearfix">
    <div class="nav nav-pills pull-right">
      <h5 class="text-muted">&copy; SQ Inc.</h5>
    </div>
  </div>
  </div>
</footer>