<!-- views/partials/header.ejs -->

<div class="header clearfix">
  <nav>
<!--     <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="/login">Home</a></li>
    </ul>
 -->
  <div class="nav nav-pills pull-right">
    <form action="/login" method="POST">
        <label for="longURL">Username: </label>
        <input id="longURL" type="text" name="longURL" style="width: 150px">
        <input type="submit" value="Login">
      </form>
  </div>
    <h3 class="text-muted">TinyApp URL Shortener</h3>
  </nav>
</div>