<!-- views/partials/header.ejs -->

<div class="header clearfix">
  <nav>
  <div class="nav nav-pills pull-right">
    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input id="username" type="text" name="username" style="width: 150px">
        <input type="submit" value="Login">
      </form>
  </div>
    <h3 class="text-muted">TinyApp URL Shortener</h3>
  </nav>
</div>