<!-- views/partials/header.ejs -->

<div class="header clearfix">
  <div class="nav nav-pills pull-left">
    <h3 class="text-muted">TinyApp URL Shortener</h3>
  </div>

  <div class="nav nav-pills pull-right">
    <table>
      <tr>
        <td id="noBorder">
          <a href="/register">Register</a>
        </td>
        <td id="noBorder">
        </td>
        <td id="noBorder">
        <a href="/login">Login</a>
        </td>
      </tr>
    </table>
  </div>
</div>