<!-- views/partials/header.ejs -->

<!-- <div class="header clearfix"> -->
  <nav>
  <div class="nav nav-pills pull-left">
    <h3 class="text-muted">TinyApp URL Shortener</h3>
  </div>

  <% if (userCookie === undefined) { %>
  <div class="nav nav-pills pull-right">
    <table>
      <tr>
        <td id="noBorder">
          <a href="/register">Register</a>
        </td>
        <td id="noBorder">
        </td>
        <td id="noBorder">
        <a href="/login">Login</a>
        </td>
      </tr>
    </table>
  </div>
  <% } else { %>
    <div class="nav nav-pills pull-right">
      <table>
        <tr>
          <td id="noBorder">
          Welcome, <%= userCookie %>
          </td>
          <td id="noBorder">
          <form action="/logout" method="POST">
          <input type="submit" value="Log Out">
          </form>
          </td>
        </tr>
      </table>
  <% } %>
    </div>
    </nav>
</div>

