<!-- views/urls_login.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
<%- include('partials/_header') %>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to TinyApp</h1>
        <p class="lead"><b>Please enter your login credentials below!</b></p>
      </div>
    </div>

      <div class="container">
      <table>
        <tr>
          <td id="noBorder">
            <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="email@domain.com" style="width: 200px">
          </td>
          <td id="noBorder">
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" style="width: 100">
            <input type="submit" value="Log In">
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
<%- include('partials/_footer') %>
</html>
