<!-- views/urls_register.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="container">
        <%- include('partials/_header') %>
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead">Please fill out the below details to create your account!</p>
    </div>


      <div class="container">

<table>
<tr>
<td id="noBorder">
            <form action="/register" method="POST">
            <label for="email">Enter your email address:</label>
            <input id="email" type="email" name="email" placeholder="email@domain.com" style="width: 150px">
</td>
            <td id="noBorder">
            <label for="password">Create a password: </label>
            <input id="password" type="password" name="password" style="width: 150">
            <input type="submit" value="Submit">
            </form>
</td>
</tr>
</table>
      </div>
<%- include('partials/footer') %>
  </body>
</html>