<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <%- include('partials/_header') %>
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead">Below are all of the shortened URLs available!</p>
    </div>
    <ul>
      <% for (let urlKey in urls) { %>
        <li><%= urlKey %> - <%= urls[urlKey] %>
        <form method="POST" action="/urls/<%= urlKey %>/delete">
        <input type="submit" value="Delete">
        </form>
      <% } %>
        </li>
    </ul>
    <h2>URL Shortening Link</h2>
    <h3><a href="">Future useful link</a></h3>

  </body>
</html>