<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .jumbotron {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <%- include('partials/_header') %>
        <div class="jumbotron">
          <h1>Welcome to TinyApp</h1>
          <p class="lead">Below are the details of your request!</p>
    </div>

    <h5><i>Your shortened URL is:</i>
      <b>localhost:8080/u/<%= shortURL %><b></h5>
    <h5><i>The shortened URL redirects to:</i>
       <b><%= longURL %></b></h5>

  </body>
</html>