<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <div class="container">
  <%- include('partials/_header') %>
  </div>

  <h1>Website</h1>
  <h2><%= shortURL %></h2>
  <h2><%= longURL %></h2>


</body>
</html>