body {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron {
        margin-top: 10px;
        }
form {
        padding-top: 20px;
        padding-bottom: 20px;
      }
td {
        align-content: center;
        padding: 10px;
        border: 2px solid black;
      }
td#noBorder {
        border: 0px;
      }